services:
  - type: web
    name: firstjobly-scraper
    env: python
    region: oregon
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn main:app
    autoDeploy: true

    envVars:
      BACKEND_URL: "https://autopostnodejs.vercel.app/posts"
      PORT: "10000"

    # Runs every 5 mins from 6 AM to 6 PM IST
    schedules:
      - name: "6AM-12PM IST Scrape"
        cron: "*/5 0-11 * * *"
        cronTimezone: "Asia/Kolkata"
      - name: "12PM-6PM IST Scrape"
        cron: "*/5 6-11 * * *"
        cronTimezone: "Asia/Kolkata"

    healthCheckPath: /